__pycache__

*.py[cod]

.ipynb*
.coverage
/cover/*

# mac
.DS_Store

.cache

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
MANIFEST

# Unit test / coverage reports
.coverage 


# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/ResoFit.iml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/**/vcs.xml
.idea/preferred-vcs.xml


